<style>
	 @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
</style>

img{
	width: 100%;
	height: auto;
}

body{
	margin: 0;
	padding: 0;
}

#body{
	overflow: auto;
	background-color: #CE2D58;
	/*position: -1;*/
}

#top{
	/*margin: 10px;*/
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #252627;
	margin: 0;
}

#icon{
	width: 151px; /*150.4*/
	height: 58px; /*57.6*/
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 10px;
	position: fixed;
}

#header{
	width: 100%;
	height: 70px;
	background-color: rgba(206, 45, 88, 0.5);
	margin: 0;
	padding: 0;
	position: fixed;
}

#top-text{
	font-family: 'Erica One', cursive;
	padding-left: 20px;
	color: #CE2D58;
	font-size: 140px;
	text-align: center;
	margin: 0;
}

#main{
	font-family: 'Noto Sans Japanese', sans-serif;
	padding: 50px 20px;
	color: #FFF;
	margin: auto;
	font-size: 32px;
	display: table;
	position: relative;
	text-align: center;
}

#topic{
	width: 30%; /*150.4*/
	height: 30%; /*57.6*/
	/*position: 1 fixed;*/
	text-align: center;
	display: inline;
	margin: auto;
	position: relative;
}

#about{
	text-align: left;
}

#history{
	text-align: center;
}

#portfolio{
	text-align: right;
}	

#historyImg{
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
