<style>
	 @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
</style>

body{
	margin : 10px;
}

.icon{
	width : 20%;
	height : 20%;
}

.text{
	font-family: 'Noto Sans Japanese', sans-serif;
	padding-left : 20px;
}